.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
#variants{
  height: 50%;
  width: 23%;
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
#variants button {
  height: 50px;
  width: 50px;
  background-color: inherit;
  border: none;
  font-size: 30px;
  border: 1px dashed gray;
  cursor: pointer;
  outline: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ant-carousel {
  padding: 0px;
}

.ant-carousel .slick-slide.carousel-large {
  text-align: center;
  /* height: 543px !important; */
  max-height: 543px !important;
  line-height: 160px;
  background: #364d79;
  border: none;
  overflow: hidden;
}

#search-modal {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  animation: fade-in 0.5s ;
}
@keyframes fade-out{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes fade-in{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

#search-modal::-webkit-scrollbar {
  display: none;
}

.ant-carousel .slick-slider.carousel-sm .slick-dots li,
.ant-carousel .slick-slider.carousel-sm .slick-dots .slick-avtive {
  background-color: black !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}