.editable-row .ant-form-explain {
    position: absolute;
    font-size: 12px;
    margin-top: -4px;
  }

.main{
    padding: 0px 20px 0px 20px;
}

.title{
    padding-top: 10px;
    padding-bottom: 10px; 
}